@model string

@{
    ViewData["Title"] = "Echo test page";
}

<div class="text-center">
    <h1 class="display-4">Incoming request headers:</h1>


    <h1 class="display-4">Message to Echo service on Cloud Functions</h1>

    <h2 class="display-4">Request headers:</h2>
    <h2 class="display-4">Response headers:</h2>

    <h1 class="display-4">Message to Pub/Sub:</h1>

    <p>@this.Model</p>
</div>
